/* line 1, ../sass/module/_navbar.scss */
.navbar {
  border-radius: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  position: fixed !important;
  z-index: 20;
}

/* line 10, ../sass/module/_navbar.scss */
.nav li a {
  color: #fff !important;
}

/* line 14, ../sass/module/_navbar.scss */
.navbar-brand {
  padding: 2px 0 2px 10px !important;
}

/* line 18, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #8b1c31 !important;
}

/* line 22, ../sass/module/_navbar.scss */
.navbar-inverse {
  background-color: #8b1c31 !important;
}

/* line 1, ../sass/module/_heroslider.scss */
.heroslider {
  margin-top: 50px;
}

/* Makes images fully responsive */
/* line 7, ../sass/module/_heroslider.scss */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
/* line 19, ../sass/module/_heroslider.scss */
.carousel-inner {
  border-radius: 15px;
}

/* line 23, ../sass/module/_heroslider.scss */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  bottom: 200px !important;
  z-index: 10;
  padding: 0 0 10px 25px;
}
/* line 30, ../sass/module/_heroslider.scss */
.carousel-caption h1 {
  color: #fff !important;
  font-size: 45px;
  font-family: 'Concert One', cursive;
}
/* line 35, ../sass/module/_heroslider.scss */
.carousel-caption .primary_btn {
  color: #222;
  margin-top: 20px;
}
/* line 39, ../sass/module/_heroslider.scss */
.carousel-caption .primary_btn:hover {
  color: #8b1c31;
}

@media (max-width: 900px) {
  /* line 44, ../sass/module/_heroslider.scss */
  .carousel-caption {
    display: none;
  }
}
/* line 49, ../sass/module/_heroslider.scss */
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* line 61, ../sass/module/_heroslider.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* line 66, ../sass/module/_heroslider.scss */
.carousel .carousel-control {
  color: #8b1c31;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
/* line 74, ../sass/module/_heroslider.scss */
.section-white {
  padding: 10px 0;
}

/* line 78, ../sass/module/_heroslider.scss */
.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  /* line 85, ../sass/module/_heroslider.scss */
  .section-white {
    padding: 1.5em 0;
  }
}
/* line 1, ../sass/module/_team.scss */
.team {
  padding: 75px 0;
}

/* line 4, ../sass/module/_team.scss */
h6.description {
  font-weight: bold;
  letter-spacing: 2px;
  color: #999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

/* line 11, ../sass/module/_team.scss */
.profile {
  margin-top: 25px;
}

/* line 14, ../sass/module/_team.scss */
.profile h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0 0 0;
}

/* line 19, ../sass/module/_team.scss */
.profile h2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 5px;
}

/* line 24, ../sass/module/_team.scss */
.profile .img-box {
  opacity: 1;
  display: block;
  position: relative;
}

/* line 29, ../sass/module/_team.scss */
.profile .img-box:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 39, ../sass/module/_team.scss */
.img-box ul {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  text-align: center;
  width: 100%;
  padding-left: 0px;
  height: 0px;
  margin: 0px;
  opacity: 0;
}

/* line 50, ../sass/module/_team.scss */
.profile .img-box:after, .img-box ul, .img-box ul li {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* line 55, ../sass/module/_team.scss */
.img-box ul i {
  font-size: 20px;
  letter-spacing: 10px;
}

/* line 59, ../sass/module/_team.scss */
.img-box ul li {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #88C425;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}

/* line 68, ../sass/module/_team.scss */
.img-box a {
  color: #fff;
}

/* line 71, ../sass/module/_team.scss */
.img-box:hover:after {
  opacity: 1;
}

/* line 74, ../sass/module/_team.scss */
.img-box:hover ul {
  opacity: 1;
}

/* line 77, ../sass/module/_team.scss */
.img-box ul a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 82, ../sass/module/_team.scss */
.img-box a:hover li {
  border-color: #fff;
  color: #88C425;
}
