.navbar{
	border-radius: 0 !important;
	top: 0;
	right: 0;
	left: 0;
	position: fixed !important;
	z-index: 20;
}

.nav li a{
	color: #fff!important;
}

.navbar-brand{
	padding: 0 10px !important;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #fff !important;
}

.navbar-inverse{
	background-color: $primary-color !important;
}

.navbar-inverse .navbar-toggle{
	border-color: $secondary-color !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: $primary-color !important;
}